.lazur-bg{
  background-image: url("./patterns/6.png");
}

.progtrckr {
  text-align: center;
  padding-bottom: 16px;
}

.progtrckr li {
  margin-bottom: 10px;
}

table.borderless td {
  border: none !important;
}

html, body, #main-contents {
  /* position: absolute; */
  min-height: 500px !important;

}

.stepZillLeftabt {
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.stepZillRightabt {
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.neibourbt {
  margin-left: 5px;
}

.row-white-bg td {
  background-color: #fff;
}

.row-hover :hover {
  background-color: rgb(228, 228, 228);
}

.row-white-bg th {
  background-color: #fff;
  border: none !important;
}

.extend-row-white-bg td {
  background-color: #fff;
  border: none !important;
}

.extend-row-white-bg th {
  background-color: #fff;
  border: none !important;
}
.widget {
  margin-top: 5%;
}
 .ibox .bluetop{
  border-color: #1a7bb9;
  border-width: 5px 0 0;
 }
 .monthyIncome{
   background-image: url(./monthyIncomebg.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }
 .monthlyincomeinline{
   margin-top: -5%;
 }
